* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#button-container {
  margin: auto;
  justify-content: center;
  padding-bottom: 10px;
}

#container {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
  min-width: 560px;
  gap: 2px;
}

.square {
  padding: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#grid-size-btn {
  padding: 5px;
}
