* {
  padding: 0;
  margin: 0;
  /* Include padding and border in the element's total width and height */
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#button-container {
  display: flex;
  margin: auto;
  padding-bottom: 20px;
}

#container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  outline: 10px solid grey;
  box-shadow: 5px 5px 20px black;
  /* Set the maximum width of the container */
  max-width: 800px;
  /* Set the minimum width of the container */
  min-width: 800px;
  background-color: black;
  gap: 1px;
}

.square {
  border: 1px solid grey;
  /* Adjust the width of each square dynamically based on the number of columns */
  flex-basis: calc(100% / 16 - 1px);
  /* Maintain square aspect ratio and account for gap */
  padding-top: calc(100% / 16 - 1px);
}

#grid-size-btn {
  padding: 5px;
}
